### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:
- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [1]:
a = 100

In [1]:
## Declaring the Assigning Variable 

age = 19
Height = 5.8
name = "Aditya"
is_student = True 

## Printing the variable 
print("age:",age)
print("Height:",Height)
print("name",name)

age: 19
Height: 5.8
name Aditya

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Aditya"
last_name="Singh"

In [2]:
# Invalid variable names
2age=19
first-name="Aditya"
@name="Golu"

SyntaxError: invalid decimal literal (2838317797.py, line 2)

In [ ]:
## case sensitivity
name="Krish"
Name="Naik"

## Name and name is not same variable

In [3]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="Aditya" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [4]:
## Type Checking and Conversion

type(height)

float

In [5]:
age = 19
print(type(age))

#Type Conversion 
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
19
<class 'str'>

In [6]:
age = '25';
print(type(age))

print(type(int(age)))

<class 'str'>
<class 'int'>

In [7]:
name = "Aditya"

int(name)

ValueError: invalid literal for int() with base 10: 'Aditya'

In [8]:
height = 5.8
type(height)

float

In [ ]:
# converting into the integer
int(height)

# again into the float
float(int(height))

5.0

## Dynamic Typing

In [ ]:
## Dynamic Typing 
## Python allows the type of a variable to changes as the program executes
var = 10
print(var,type(var))

var = 5.8
print(var,type(var))

var = "Hello Adi"
print(var,type(var))

10 <class 'int'>
5.8 <class 'float'>
Hello Adi <class 'str'>

Input From User

In [1]:
## Input 
age = int(input("Enter the age"))  # here this is string and again we typecast by write int outside input parenthesis
print(age,type(age))

20 <class 'int'>

In [13]:
## Simple calculator 

num1 = float(input("Enter the first number"))
num2 = float(input("Enter the second Number"))

sum = num1 + num2
difference  = num1 - num2
product = num1 * num2
division = num1/num2

print("Sum:",sum)
print("Difference:",difference)
print("Product",product)
print("Division",division)

Sum: 35.0
Difference: 15.0
Product 250.0
Division 2.5